.previous-section {
	display: flex;
	height: calc(100vh - 5rem);
	align-items: center;
	justify-content: space-evenly;
	position: relative;
}

.empty-historial {
	text-align: center;
	margin-bottom: 29rem;
	font-weight: bold;
}
