.empty-historial-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.empty-historial {
	text-align: center;
	margin-bottom: 10rem;
	font-weight: bold;
}
