.section-maximized-product {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
}

.maximized-product {
	width: 60vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	background-color: #ffff;
}

#close-button {
	cursor: pointer;
	height: 30px;
	width: 30px;
}

.close-button-container {
	background-color: #ffff;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-container-maximized {
	width: 16rem;
	height: 16rem;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.img-container-maximized img {
	width: 90%;
	height: 90%;
	object-fit: contain;
	max-width: 90%;
	max-height: 90%;
}

.info-container-maximized {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 2.5rem;
}

.info-container-maximized h2 {
	font-weight: 500;
	background-color: #ebe6ea;
	border-radius: 0.5rem;
	padding: 0 0.5rem;
	text-align: center;
}

.info-container-maximized p {
	margin-top: 0.75rem;
	font-weight: 700;
	background-color: #ebe6ea;
	border-radius: 0.5rem;
	padding: 0 0.5rem;
}

.button-to-add {
	display: flex;
	margin-bottom: 1rem;
	flex-direction: row;
	align-items: center;
	border-radius: 0.5rem;
	border: 1px solid black;
	cursor: pointer;
	padding: 0.1rem 3rem;
	background-color: black;
	color: #fff;
	width: 2rem;
	height: 2rem;
}

.checkM-button {
	width: 2rem;
	height: 2rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	border: 1px solid black;
	padding: 0.1rem 3rem;
	background-color: black;
	color: #fff;
}

@media (max-width: 800px) {
	.maximized-product {
		width: 80vw;
		height: 70vh;
	}

	.img-container-maximized img {
		width: 90%;
		height: 60%;
		max-width: 90%;
		max-height: 60%;
	}

	.info-container-maximized {
		margin-top: 0.5rem;
	}

	.button-to-add {
		padding: 0.1rem 3rem;
		background-color: black;
		color: #fff;
		width: 2rem;
		height: 2rem;
		margin-top: 1rem;
	}
}
