.itembag-section {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	right: 0;
	margin-top: 2rem;
	padding-top: 1rem;
	border-radius: 0.5rem;
	background-color: #ffffff;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 40vw;
	align-items: center;
	position: fixed;
	height: 90%;
}
