.orders-list-section {
	background-color: #fff;
	width: 40vw;
	max-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0.5rem;
	gap: 1rem;
	margin-top: 1rem;
	padding-top: 10rem;
	padding-bottom: 2rem;
	overflow-y: scroll;
}
.order-list-container {
	border: 1px solid black;
	border-radius: 0.5rem;
	width: 90%;
	padding: 0.5rem 0.3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.order-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
}
.order-list-container p {
	margin: 0;
}

.item-list-container {
	background-color: #fff;
	max-height: 60vh;
	width: 40vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0.5rem;
	overflow-y: scroll;
	margin-top: 5rem;
	padding-top: 9rem;
	position: relative;
}
.show-details-button {
	cursor: pointer;
	width: 1.8rem;
	height: auto;
}
.close-button {
	position: absolute;
	top: 1rem;
	width: 2rem;
	height: 2rem;
}
