.all-container {
	display: flex;
}

.orders-list-container {
	background-color: #fff;
	width: 40rem;
	height: 20rem;
	max-width: 50vw;
	max-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0.5rem;
	gap: 1rem;
	margin-top: 5rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.order-list-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 90%;
	width: 90%;
	overflow: auto;
	height: 20rem;
	max-height: 50vh;
}

.order-list-item {
	border: 1px solid black;
	border-radius: 0.5rem;
	width: 90%;
	padding: 0.5rem 0.3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.order-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
}
.order-list-item p {
	margin: 0;
}

.item-list-container {
	display: flex;
	max-width: 25vw;
	width: 40rem;
	height: 20rem;
	max-height: 60vh;

	gap: 2rem;
	justify-content: center;
	position: relative;
	margin-top: 5rem;
	height: 50rem;
}

.item-list-secondContainer {
	max-width: 40vw;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 0;
	border-radius: 0.5rem;
	background-color: #ffffff;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	width: 40rem;
	height: 20rem;
	max-height: 60vh;
	align-items: center;
	padding-bottom: 2rem;
	padding-top: 1rem;
}

.item-list-thirdContainer {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 20rem;
	max-height: 60vh;
	align-items: center;
	position: relative;
	overflow-y: auto;
}
.show-details-button {
	cursor: pointer;
	width: 1.8rem;
	height: auto;
}

.close-button {
	position: absolute;
	top: 0.2rem;
	left: 0.1rem;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

.product-container {
	margin-top: 1rem;
}

.productdata-container {
	overflow: hidden;
}

.productdata-container .name {
	max-width: 8rem;
}
