@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.welcome-section {
	width: auto;
	max-width: 90%;
	height: 35rem;
	max-height: 50rem;
	overflow: hidden;
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 0.5rem;
	flex-direction: column;
}
.welcome-section h1 {
	margin: 0;
	font-size: xx-large;
	font-weight: 400;
	font-family: "Titan One", sans-serif;
	position: relative;
}
.welcome-boxes-container {
	width: 55rem;
	max-width: 60rem;
	height: auto;
	max-height: 35rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.electronic-box-container {
	width: auto;
	max-width: 50rem;
	height: auto;
	max-height: 25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	position: relative;
}
.aElec {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.electronic-box-container img {
	max-width: 40rem;
	height: auto;
	width: auto;
	max-height: 15rem;
	border-radius: 0.5rem;
	object-fit: contain;
}
.two-boxes-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	max-width: 50rem;
	height: auto;
	max-height: 25rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: scale linear 0.5s;
	position: relative;
}

.two-boxes-container div {
	padding: 0 0.1rem;
}

.aJew {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
}
.aCloth {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
}

.two-boxes-container img {
	max-width: 20rem;
	height: auto;
	width: auto;
	max-height: 15rem;
	border-radius: 0.5rem;
	object-fit: contain;
}

.container-parrafo-categoryE {
	position: absolute;
	backdrop-filter: blur(10px);
	border-radius: 0.5rem;
	width: 28.5rem;
	height: 5rem;
	bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.parrafo-category {
	position: relative;
	color: #272829;
	font-size: large;
	font-weight: 400;
	font-family: "Titan One", sans-serif;
	text-align: center;
	width: 14.8rem;
}

.container-parrafo-category-twoBoxes {
	position: absolute;
	backdrop-filter: blur(10px);
	border-radius: 0.5rem;
	width: 14.8rem;
	height: 3rem;
	bottom: 0rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 800px) {
	.welcome-section {
		margin-top: 1rem;
	}

	.welcome-section h1 {
		margin-bottom: 1rem;
		padding-left: 1rem;
	}

	.electronic-box-container img {
		max-width: 20rem;
	}

	.two-boxes-container img {
		max-width: 10rem;
	}
	.two-boxes-container {
		width: auto;
	}
	#parrafo-joy {
		text-align: left;
		width: 10rem;
		margin-left: 1rem;
	}

	#parrafo-rop {
		text-align: left;
		width: 10rem;
		margin-left: 3rem;
	}
}
