@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.welcome-section {
	width: 90%;
	max-width: 90%;
	height: 30rem;
	max-height: 30rem;
	overflow: hidden;
	margin: 0 3rem;
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f9f9f1;
	border-radius: 0.5rem;
	flex-direction: column;
}

.welcome-section .img-container {
	width: 60rem;
	max-width: 60rem;
	height: 25rem;
	max-height: 25rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.welcome-section h1 {
	margin: 0;
	font-size: xx-large;
	font-weight: 400;
	font-family: "Titan One", sans-serif;
	position: relative;
}

.welcome-section .img-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-width: 80%;
	height: 80%;
	max-height: 80%;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: scale linear 0.5s;
	padding: 1rem 1rem;
}

.welcome-section .img-container div:hover {
	scale: 1.5;
	border-radius: 0.5rem;
	z-index: 200;
}

.welcome-section .img-container div img {
	max-width: 80%;
	height: 80%;
	width: 80%;
	border-radius: 0.5rem;
	object-fit: cover;
}

.welcome-section .img-container div img:hover {
}
