.quienesSomos-section {
	max-width: 50rem;
	min-height: 30rem;
	width: 50rem;
	height: auto;
	background-color: #fcfcfc;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 2rem;
	border-radius: 0.5rem;
	margin-bottom: 5rem;
}

.quienesSomos-section h2 {
	margin: 0;
	font-size: xx-large;
	font-weight: 400;
	font-family: "Titan One", sans-serif;
	position: relative;
	padding-top: 1rem;
}
.quienes-info {
	padding: 1rem 0;
}
.quienes-info p {
	max-width: 50rem;
	width: 40rem;
}

.quienes-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.linea-quienes {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem;
}

.linea-quienes div {
	background-color: white;
	max-width: 15rem;
	max-height: 20rem;
	width: auto;
	height: auto;
	margin: 0 1rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	padding: 1rem 1rem;
}

.linea-quienes div p {
	max-width: 15em;
	max-height: 8rem;
	width: 14rem;
	height: 7rem;
	font-size: medium;
	margin: 0;
}

.linea-quienes img {
	max-width: 5rem;
	min-height: 5rem;
	width: auto;
	height: auto;
	object-fit: contain;
	margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
	.quienesSomos-section {
		max-width: 23rem;
	}
	.quienes-info p {
		max-width: 20rem;
		width: auto;
	}
	.linea-quienes div {
		max-width: 8rem;
	}

	.linea-quienes div p {
		max-width: 8rem;
		font-size: small;
	}
}
