.navbar {
	display: inline-flex;
	width: 100%;
	z-index: 10;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 2.75rem;
	background-color: #f9f9f1;
	padding-left: 0;
	max-height: 10vh;
	position: relative;
}

.first-ul {
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
}

.first-ul li {
	margin-right: 1.5rem;
	transition: scale 0.3s;
	border-radius: 0.5rem;
	padding: 0.3rem 0.3rem;
}

.first-ul li:hover {
	scale: 1.2;
}

.second-ul {
	padding-right: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.second-ul li {
	padding-left: 0.7rem;
	transition: scale 0.3s;
	cursor: pointer;
}

.second-ul li:hover {
	scale: 1.2;
}

.cart-number {
	background-color: #ebe6ea;
	border-radius: 0.5rem;
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 9999px;
	width: 0.1rem;
	height: 0.1rem;
	font-weight: 300;
	right: 15px;
	top: 5px;
}

a {
	color: black;
	text-decoration: none;
}

.path-active {
	text-decoration: underline;
	font-weight: bolder;
	text-decoration-thickness: 3px;
	text-underline-offset: 3px;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: auto;
	max-height: 3rem;
	border: 1px solid black;
	position: static;
	bottom: 0;
}
