.navbar {
	display: flex;
	width: auto;
	z-index: 10;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 2.75rem;
	background-color: #272829;
	padding-left: 0;
	max-height: 10vh;
	position: relative;
	color: #ebe4e4;
}

.first-ul {
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
}

.first-ul li {
	margin-right: 1.5rem;
	transition: scale 0.3s;
	border-radius: 0.5rem;
	padding: 0.3rem 0.3rem;
}

.first-ul li:hover {
	scale: 1.2;
}

.second-ul {
	padding-right: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.second-ul li {
	padding-left: 0.7rem;
	transition: scale 0.3s;
	cursor: pointer;
}

.second-ul li:hover {
	scale: 1.2;
}

.cart-number {
	background-color: #ebe6ea;
	border-radius: 0.5rem;
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 9999px;
	width: 0.1rem;
	height: 0.1rem;
	font-weight: 300;
	right: 15px;
	top: 5px;
	color: #272829;
}

a {
	color: #ebe4e4;
	text-decoration: none;
}

.path-active {
	text-decoration: underline;
	font-weight: bolder;
	text-decoration-thickness: 3px;
	text-underline-offset: 3px;
}

.toggle-menu-container {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
	list-style: none;
	padding: 0.5rem 0.5rem;
}
.toggle-menu-container li {
	padding: 0.5rem;
	margin-bottom: 0.2rem;
	background-color: #272829;
	border-radius: 0.5rem;
}
