@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700;800&display=swap");

body {
	background-color: #ebe6ea;
	margin: 0;
	box-sizing: border-box;
	font-family: "Archivo", sans-serif;
}
