.layout {
	margin-top: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 1rem;
	min-height: 100vh;
}

.layout.inactive {
	align-content: center;
}

.layout.active {
	align-content: flex-start;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: auto;
	max-height: 3rem;
	background-color: #272829;
	margin-top: 1rem;
	color: #ffff;
}

@media (max-width: 800px) {
	.layout {
		margin-left: 0rem;
		flex-wrap: nowrap;
		margin-bottom: 5rem;
		min-height: auto;
	}
}
